/* CSS declarations go here */

        
body {
background: #efefef;
font: 12px/18px helvetica, tahoma, sans-serif;
}
h1, h2 {
text-align: center;
font-size: 6em;
letter-spacing: -3px;
}
h2 {
font-size: 3em;
letter-spacing: -1px;
}
#wrap {
width: 980px;
margin: 150px auto 80px;
}
.box {
color: #222;
background: white;
padding: 40px;
width: 390px;
height: 300px;
overflow: auto;
float: left;
}
#box1 {
margin-right: 40px;
}
#box2 p {
width: 2000px;
}
#box3 {
width: 900px;
margin-top: 40px;
}
#box3 p {
width: 1200px;
}
#wrap > p {
font-size: 10px;
text-align: center;
margin: 40px 0 20px 0;
}
.clear {
clear: both;
}
