<div class="clock"></div>
<style>
    .clock {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 5rem;
        background-color: white;
        border-radius: 0px 0px 30px 30px;
        padding: 0px 20px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
</style>
