<!DOCTYPE html>
<html lang="en">
    <%- include("../views/settings/header"); %>
    <link rel="stylesheet" href="../../stylesheets/index.css" />
    <body>
        <div id="indexBackground">
            <i id="indexIcon" class="far fa-clock"></i>
            <div id="indexText">AnyTime</div>
            <div id="indexLogin" OnClick="location.href ='/api/user/login'">Log In</div>
        </div>
        <%- include("../views/settings/footer"); %>
    </body>
</html>
