<!DOCTYPE html>
<html lang="en">
    <%- include("settings/header"); %>
    <link rel="stylesheet" href="../../stylesheets/main.css" />
    <body>
        <div id="mainBackground">
            <div id="contents">
                <div id="schedule" OnClick="location.href ='/api/schedule'">Schedule</div>
                <div id="alarm" OnClick="location.href ='/api/alarm'">Alarm</div>
            </div>
        </div>
        <%- include("settings/footer"); %>
    </body>
</html>
